/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

body{
  margin-top: 10%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  background-image: url ('kanyeimg.wepg');
  color: rgb(65, 59, 59);
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
